.intro{
    display: flex;
    height: 77vh;
    margin-top: 6rem;
}
.i-left{
    display: flex;
    flex: 1;
    position: relative;
    flex-direction: column;
}
.i-name{
    display: flex;
    flex-direction: column;
}
.i-name>:nth-child(1)
{
    color: var(--black);
    font-weight: bold;
    font-size: 3rem;
}
.i-name>:nth-child(2){
    color: var(--orange);
    font-weight: bold;
    font-size: 3rem;
}
.i-name>:nth-child(3){
    color: var(--gray);
    font-weight: 100;
    font-size: 20px;
}
.i-button{
    width: 6rem;
    height: 2rem;
}
.i-icons{
    margin-top: 2rem;
    display: flex;
}
.i-icons>*{
    transform: scale(0.5);
}
.i-icons>*:hover{
    cursor: pointer;
    
}


.i-right{
    flex:1;
    position: relative;
}
.i-right>img{
    position: absolute;
    transform: scale(0.6);
    top: -300px;
    left: 87px;
    /* z-index: 1; */
}
/* .i-right:nth-child(1){
    transform: scale(0.69);
    left: -15%;
    top: -9%;
}
.i-right:nth-child(2){
    transform: scale(0.67);
    left: -3rem;
    top: -4.6rem;
}
.i-right:nth-child(3){
    transform: scale(0.1);
    left: -28%;
} */